<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="searchTerms" value="marijuana;marihuana;cannabis;Dispensary;Dispensaries;provisioning;Cultivat*;opt-in;opt-out;17-2210" />
    <add key="dependencySearchTerms" value="Ordinance;moratorium" />
    <add key="termFile" value="KeyWord.json" />
    <add key="distance" value="5" />
    <add key="startFrom" value="2016-01-01" />
    <add key="outputPath" value="Data1" />
    <add key="searchGoogle" value="false" />
    <add key="clean" value="false" />
    <add key="import" value="false" />
    <add key="operation" value="" />
  </appSettings>
  <connectionStrings>
    <add connectionString="server=104.238.81.189;database=MunicipalityPublicMeetingDB;user id=sa;password=sql2012!" name="local" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>